In [3]:
import pandas as pd
data = pd.read_csv('../Data/migration_population.csv')
data.head(10)

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Arab World,2018,419790588.0,37.372365,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
1,Arab World,2017,411898965.0,36.669804,-1408824.0,-0.003420,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
2,Arab World,2016,404024433.0,35.968764,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
3,Arab World,2015,396028278.0,35.256897,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
4,Arab World,2014,387907748.0,34.533978,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
5,Arab World,2013,379705719.0,33.803785,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
6,Arab World,2012,371443547.0,33.067670,47229.0,0.000127,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
7,Arab World,2011,363158703.0,32.330122,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
8,Arab World,2010,354890042.0,31.594021,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
9,Arab World,2009,346629220.0,30.858581,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15576 entries, 0 to 15575
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         15576 non-null  object
 1   year            15576 non-null  int64
 2   population      15409 non-null  float64
 3   pop_density     14830 non-null  float64
 4   net_migration   2868 non-null   float64
 5   migration_perc  2865 non-null   float64
 6   iso3c           15458 non-null  object
 7   iso2c           15399 non-null  object
 8   region          15458 non-null  object
 9   adminregion     8142 non-null   object
 10  incomeLevel     15458 non-null  object
 11  lendingType     15458 non-null  object
 12  capitalCity     12449 non-null  object
 13  longitude       12449 non-null  float64
 14  latitude        12449 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 1.8+ MB

In [5]:
data.describe()

,year,population,pop_density,net_migration,migration_perc,longitude,latitude
count,15576.000000,1.540900e+04,14830.000000,2.868000e+03,2865.000000,12449.000000,12449.000000
mean,1989.000000,2.078865e+08,278.373842,-2.729311e+05,-0.001685,19.139549,18.889009
std,17.029933,6.867796e+08,1438.512810,2.462397e+06,0.050332,70.226888,24.154407
min,1960.000000,3.893000e+03,0.098625,-2.334862e+07,-0.263518,-175.216000,-41.286500
25%,1974.000000,9.268410e+05,19.683859,-1.617038e+05,-0.013752,-15.180400,4.174200
50%,1989.000000,6.418773e+06,51.760036,-1.081700e+04,-0.002204,19.259500,17.300000
75%,2004.000000,4.244904e+07,126.598486,2.681925e+04,0.005838,50.535400,40.049500
max,2018.000000,7.594270e+09,21389.100000,2.339235e+07,0.787035,179.089567,64.183600

In [6]:
data.isnull().sum()

country               0
year                  0
population          167
pop_density         746
net_migration     12708
migration_perc    12711
iso3c               118
iso2c               177
region              118
adminregion        7434
incomeLevel         118
lendingType         118
capitalCity        3127
longitude          3127
latitude           3127
dtype: int64

In [4]:
data.tail(10)

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
15566,Zimbabwe,1969,5111337.0,13.212710,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15567,Zimbabwe,1968,4941906.0,12.774734,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15568,Zimbabwe,1967,4779827.0,12.355763,-42001.0,-0.008787,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15569,Zimbabwe,1966,4623351.0,11.951276,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15570,Zimbabwe,1965,4471177.0,11.557909,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15571,Zimbabwe,1964,4322861.0,11.174515,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15572,Zimbabwe,1963,4178726.0,10.801928,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15573,Zimbabwe,1962,4039201.0,10.441259,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15574,Zimbabwe,1961,3905034.0,10.094440,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15575,Zimbabwe,1960,3776681.0,NaN,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [5]:
data

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Arab World,2018,419790588.0,37.372365,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
1,Arab World,2017,411898965.0,36.669804,-1408824.0,-0.003420,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
2,Arab World,2016,404024433.0,35.968764,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
3,Arab World,2015,396028278.0,35.256897,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
4,Arab World,2014,387907748.0,34.533978,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15571,Zimbabwe,1964,4322861.0,11.174515,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15572,Zimbabwe,1963,4178726.0,10.801928,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15573,Zimbabwe,1962,4039201.0,10.441259,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15574,Zimbabwe,1961,3905034.0,10.094440,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15575,Zimbabwe,1960,3776681.0,NaN,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [6]:
data.dropna()

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
2774,Afghanistan,2017,36296400.0,55.595993,-314602.0,-0.008668,AFG,AF,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
2779,Afghanistan,2012,31161376.0,47.730564,521769.0,0.016744,AFG,AF,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
2784,Afghanistan,2007,27100536.0,41.510486,-1046361.0,-0.038610,AFG,AF,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
2789,Afghanistan,2002,22600770.0,34.618096,744193.0,0.032928,AFG,AF,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
2794,Afghanistan,1997,19357126.0,29.649735,-867540.0,-0.044818,AFG,AF,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15553,Zimbabwe,1982,7958241.0,20.571904,99068.0,0.012448,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15558,Zimbabwe,1977,6712827.0,17.352532,-152283.0,-0.022685,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15563,Zimbabwe,1972,5673911.0,14.666954,-45547.0,-0.008027,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15568,Zimbabwe,1967,4779827.0,12.355763,-42001.0,-0.008787,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15573,Zimbabwe,1962,4039201.0,10.441259,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [7]:
data.dropna(axis='columns')

          country  year
0      Arab World  2018
1      Arab World  2017
2      Arab World  2016
3      Arab World  2015
4      Arab World  2014
...           ...   ...
15571    Zimbabwe  1964
15572    Zimbabwe  1963
15573    Zimbabwe  1962
15574    Zimbabwe  1961
15575    Zimbabwe  1960

[15576 rows x 2 columns]

In [8]:
data.fillna(0)

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Arab World,2018,419790588.0,37.372365,0.0,0.000000,ARB,1A,Aggregates,0,Aggregates,Aggregates,0,0.0000,0.0000
1,Arab World,2017,411898965.0,36.669804,-1408824.0,-0.003420,ARB,1A,Aggregates,0,Aggregates,Aggregates,0,0.0000,0.0000
2,Arab World,2016,404024433.0,35.968764,0.0,0.000000,ARB,1A,Aggregates,0,Aggregates,Aggregates,0,0.0000,0.0000
3,Arab World,2015,396028278.0,35.256897,0.0,0.000000,ARB,1A,Aggregates,0,Aggregates,Aggregates,0,0.0000,0.0000
4,Arab World,2014,387907748.0,34.533978,0.0,0.000000,ARB,1A,Aggregates,0,Aggregates,Aggregates,0,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15571,Zimbabwe,1964,4322861.0,11.174515,0.0,0.000000,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15572,Zimbabwe,1963,4178726.0,10.801928,0.0,0.000000,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15573,Zimbabwe,1962,4039201.0,10.441259,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15574,Zimbabwe,1961,3905034.0,10.094440,0.0,0.000000,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15575,Zimbabwe,1960,3776681.0,0.000000,0.0,0.000000,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [9]:
data.fillna(method='ffill')

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Arab World,2018,419790588.0,37.372365,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
1,Arab World,2017,411898965.0,36.669804,-1408824.0,-0.003420,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
2,Arab World,2016,404024433.0,35.968764,-1408824.0,-0.003420,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
3,Arab World,2015,396028278.0,35.256897,-1408824.0,-0.003420,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
4,Arab World,2014,387907748.0,34.533978,-1408824.0,-0.003420,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15571,Zimbabwe,1964,4322861.0,11.174515,-42001.0,-0.008787,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15572,Zimbabwe,1963,4178726.0,10.801928,-42001.0,-0.008787,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15573,Zimbabwe,1962,4039201.0,10.441259,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15574,Zimbabwe,1961,3905034.0,10.094440,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15575,Zimbabwe,1960,3776681.0,10.094440,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [10]:
data.fillna(method='bfill')

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Arab World,2018,419790588.0,37.372365,-1408824.0,-0.003420,ARB,1A,Aggregates,South Asia,Aggregates,Aggregates,Kabul,69.1761,34.5228
1,Arab World,2017,411898965.0,36.669804,-1408824.0,-0.003420,ARB,1A,Aggregates,South Asia,Aggregates,Aggregates,Kabul,69.1761,34.5228
2,Arab World,2016,404024433.0,35.968764,47229.0,0.000127,ARB,1A,Aggregates,South Asia,Aggregates,Aggregates,Kabul,69.1761,34.5228
3,Arab World,2015,396028278.0,35.256897,47229.0,0.000127,ARB,1A,Aggregates,South Asia,Aggregates,Aggregates,Kabul,69.1761,34.5228
4,Arab World,2014,387907748.0,34.533978,47229.0,0.000127,ARB,1A,Aggregates,South Asia,Aggregates,Aggregates,Kabul,69.1761,34.5228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15571,Zimbabwe,1964,4322861.0,11.174515,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15572,Zimbabwe,1963,4178726.0,10.801928,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15573,Zimbabwe,1962,4039201.0,10.441259,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15574,Zimbabwe,1961,3905034.0,10.094440,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15575,Zimbabwe,1960,3776681.0,NaN,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312